In [21]:
names = str(input('Input name: '))
adres = str(input('Input Address: '))
date_birth = str(input('Input D.O.B: '))

#define profile
def profiles():
  print('My name is {}, I live in {},  I was born on {}.'.format(names,adres,date_birth))

#def main to execute functiom above
def main():
  print('\n')
  print('profile below')
  profiles()

#execute main function
if __name__ == '__main__':
    main()

Input name: Irham
Input Address: los Angeles
Input D.O.B: 23 september


profile below
My name is Irham, I live in los Angeles,  I was born on 23 september